body {
  background-color: black;
  color: white;
  height: 100%;
  text-align: center;
}

.container {
  max-width: 1000px;
  margin-top: 10px;
}

#cool-button {
  background-color: #27D921;
}

#cool-button:hover {
  background-color: #146411;
    border-color: #27D921;
}

#greetings {
  display: none;
  color: #27D921;
}

#button-div button {
  margin: 15px;
}

.btn-primary {
  background-color: #27D921;
  border-color: #146411;
  color: black;
}

.btn-primary:hover {
  background-color: #146411;
  border-color: #27D921;
  color: white;
}

.results {
  margin: 20px;
  max-width: 930px;
  position: relative;
  text-align: center;
  height: 100%
}

.result-image img {
  width: 100%;
}

.result-image .message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 800px;
}

.low-opacity {
  opacity: 0.15;
}

.again-button {
  text-align: left;
}

#do-it-again {
  display: none;
  position: static;
}

.message {
  display: none;
}
