body {
  background-color: black;
  color: white;
  height: 100%;
}
.results {
  position: relative;
  text-align: center;
  height: 100%
}

.result-image #number-array {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* padding-top: 200px; */
  max-height: 800px;
}

.result-image img {
  width: 100%;
}

.message {
  display: none;
}

#greetings {
  display: none;
}
